<configuration>
<!--  <include resource="org/springframework/boot/logging/logback/base.xml" />-->
  <conversionRule conversionWord="crlf" converterClass="org.owasp.security.logging.mask.CRLFConverter" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %d{yyy-MM-dd HH:mm:ss} %highlight(%-5level) --- %magenta([%thread]) %logger{36}.%M:%L - %crlf(%0msg) %n
      </Pattern>
    </layout>
  </appender>

  <logger name="org.siglus.siglusapi" level="DEBUG" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <!-- Define the root logger log level -->
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
